Repository Shopify/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shopify/app-inner-loop, @shopify/developer-tools, @shopify/bulk-data-management-eng

.github/CODEOWNERS:

# By default, review should come from the app-inner-loop team
* @shopify/app-inner-loop

# Theme team and CLI owners should review theme changes
packages/cli-kit/src/private/themes/* @shopify/developer-tools @shopify/app-inner-loop
packages/cli-kit/src/public/**/themes/* @shopify/developer-tools @shopify/app-inner-loop
packages/theme/** @shopify/developer-tools @shopify/app-inner-loop

# Bulk Data Management and CLI owners should review changes to the store package
packages/store/** @shopify/bulk-data-management-eng @shopify/app-inner-loop

# These are metafiles that can be reviewed by anyone
.changeset/* @shopify/developer-tools @shopify/app-inner-loop
.github/CODEOWNERS @shopify/developer-tools @shopify/app-inner-loop
docs-shopify.dev/**  @shopify/developer-tools @shopify/app-inner-loop
packages/cli/oclif.manifest.json @shopify/developer-tools @shopify/app-inner-loop
packages/cli/README.md @shopify/developer-tools @shopify/app-inner-loop

Extract duplicated code to bundleFunctionExtension
  packages/app/src/cli/models/extensions/extension-instance.ts
  packages/app/src/cli/services/build/extension.ts
Owners: @shopify/app-inner-loop

Add more tests
  packages/app/src/cli/services/deploy/bundle.test.ts
Owners: @shopify/app-inner-loop

Fix knip issues
  packages/app/src/cli/services/function/build.ts
Owners: @shopify/app-inner-loop

Enhance stack trace cleaning to improve error grouping
  packages/cli-kit/src/public/node/error.test.ts
  packages/cli-kit/src/public/node/error.ts
Owners: @shopify/app-inner-loop

Add a custom message suggesting to switch the account on 403
  packages/cli-kit/src/private/node/api/headers.test.ts
  packages/cli-kit/src/private/node/api/headers.ts
Owners: @shopify/app-inner-loop

Pin http-proxy-node16 to 1.0.6
  packages/app/package.json
  pnpm-lock.yaml
Owners: @shopify/app-inner-loop

change theme command code to have two environment paths
  .changeset/poor-hornets-compete.md
  packages/theme/src/cli/utilities/theme-command.ts
Owners: @shopify/developer-tools, @shopify/app-inner-loop

Show list of added UIDs on the first deploy
  packages/app/src/cli/services/context/id-matching.test.ts
  packages/app/src/cli/services/context/id-matching.ts
Owners: @shopify/app-inner-loop

Make stack trace normalization truly aggressive for better error grouping
  packages/cli-kit/src/public/node/error-handler.test.ts
  packages/cli-kit/src/public/node/error-handler.ts
  packages/cli-kit/src/public/node/error.test.ts
  packages/cli-kit/src/public/node/error.ts
Owners: @shopify/app-inner-loop

Use correct domain/headers for Admin API requests in local environment
  packages/cli-kit/src/public/node/api/admin.ts
Owners: @shopify/app-inner-loop

stub
  packages/store/CHANGELOG.md
Owners: @shopify/bulk-data-management-eng, @shopify/app-inner-loop

use custom staged upload mutation-
  packages/store/src/cli/api/graphql/admin/generated/types.d.ts
Owners: @shopify/bulk-data-management-eng, @shopify/app-inner-loop

use `SQLITE_DATABASE` resource type for `createStagedUpload` fix tests and lint
  packages/store/src/cli/api/graphql/admin/generated/types.d.ts
Owners: @shopify/bulk-data-management-eng, @shopify/app-inner-loop
