Repository Shopify/cli, pull requests merged in 2024-01, with the labels that each got.

#3226 Manage new_updated_removed dashboard extensions in confirmation prompt
  packages/app/src/cli/api/graphql/app_versions_diff.ts
  packages/app/src/cli/prompts/deploy-release.test.ts
  packages/app/src/cli/prompts/deploy-release.ts
  packages/app/src/cli/services/context/breakdown-extensions.test.ts
  packages/app/src/cli/services/context/breakdown-extensions.ts
  packages/app/src/cli/services/release.ts
Labels: #gsd:36684

#3242 [Feature]: New Theme Command: `shopify theme rename`
  .changeset/late-beers-accept.md
  packages/cli/README.md
  packages/features/snapshots/commands.txt
  packages/theme/oclif.manifest.json
  packages/theme/src/cli/commands/theme/rename.ts
  packages/theme/src/cli/services/rename.test.ts
  packages/theme/src/cli/services/rename.ts
Labels: Type: Enhancement, Area: @shopify/theme

#3240 [Cleanup] Remove unused developmentTheme parameter in findOrSelectTheme function
  packages/theme/src/cli/commands/theme/pull.ts
  packages/theme/src/cli/services/open.test.ts
  packages/theme/src/cli/services/open.ts
  packages/theme/src/cli/utilities/theme-selector.test.ts
  packages/theme/src/cli/utilities/theme-selector.ts
Labels: Area: @shopify/theme

#3339 link command uses local scopes to create a new remote app
  packages/app/src/cli/services/app/config/link.ts
Labels: #gsd:36684
